Repository ethereum-censorship-monitor/ethereum-censorship-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, clippy, sqlx-prepare

cargo-check:
  name: cargo-check
  entry: cargo +nightly check --manifest-path=./monitor/Cargo.toml
  language: system
  require_serial: true
  pass_filenames: false

cargo-fmt:
  name: cargo-fmt
  entry: cargo +nightly fmt --manifest-path=./monitor/Cargo.toml --
  language: system
  require_serial: true

clippy:
  name: clippy
  entry: cargo clippy --manifest-path=./monitor/Cargo.toml -- --deny "warnings"
  language: system
  require_serial: true
  pass_filenames: false

sqlx-prepare:
  name: sqlx-prepare
  entry: bash -c 'cd monitor; cargo sqlx prepare'
  language: system
  pass_filenames: false

Update sqlx-data file
  monitor/sqlx-data.json
Due: sqlx-prepare

Allow schema to exist during migration
  monitor/migrations/20221206134359_init.sql
Due: sqlx-prepare

Fix test
  monitor/src/pool.rs
Due: cargo-check, cargo-fmt, clippy

Add config option to switch sync check on/off
  monitor/config.toml
  monitor/src/cli.rs
  monitor/src/main.rs
Due: cargo-check, cargo-fmt, clippy

Avoid calling eth_syncing to test node connection
  monitor/src/watch.rs
Due: cargo-check, cargo-fmt, clippy

Fix URL handling
  monitor/src/consensus_api.rs
  monitor/src/types.rs
  monitor/src/watch.rs
Due: cargo-check, cargo-fmt, clippy

Make url_with_path accept absolute path
  monitor/src/consensus_api.rs
  monitor/src/types.rs
Due: cargo-check, cargo-fmt, clippy

Fix bug in watch_transactions
  monitor/Cargo.lock
  monitor/Cargo.toml
  monitor/src/watch.rs
Due: cargo-check, cargo-fmt, clippy

Add compare-providers subcommand
  monitor/src/cli.rs
  monitor/src/compare_providers.rs
  monitor/src/main.rs
Due: cargo-check, cargo-fmt, clippy

Use chrono::DateTime instead of u64 for timestamps
  monitor/Cargo.lock
  monitor/Cargo.toml
  monitor/src/check_transaction.rs
  monitor/src/db.rs
  monitor/src/head_history.rs
  monitor/src/pool.rs
  monitor/src/state.rs
  monitor/src/types.rs
  monitor/src/watch.rs
Due: cargo-check, cargo-fmt, clippy

Add proposal_time to beacon_block and miss tables
  monitor/migrations/20221210112621_proposal_timestamps.sql
Due: sqlx-prepare

Persist beacon block proposal time
  monitor/src/db.rs
Due: cargo-check, cargo-fmt, clippy

Update sqlx-data
  monitor/sqlx-data.json
Due: sqlx-prepare

Add timestamp indices
  monitor/migrations/20221210123333_indices.sql
Due: sqlx-prepare

Constrain db columns to not be null
  monitor/migrations/20221210131532_constraints.sql
Due: sqlx-prepare

Improve log message
  monitor/src/main.rs
Due: cargo-check, cargo-fmt, clippy

Downgrade postgres
  .tool-versions
Due: none

Collect metrics using Prometheus
  monitor/Cargo.lock
  monitor/Cargo.toml
  monitor/src/analyze.rs
  monitor/src/cli.rs
  monitor/src/main.rs
  monitor/src/metrics.rs
  monitor/src/nonce_cache.rs
  monitor/src/pool.rs
  monitor/src/watch.rs
Due: cargo-check, cargo-fmt, clippy

Change duration metrics from histogram to gauge
  monitor/src/analyze.rs
  monitor/src/metrics.rs
  monitor/src/watch.rs
Due: cargo-check, cargo-fmt, clippy

Add metric for head history length
  monitor/src/head_history.rs
  monitor/src/metrics.rs
Due: cargo-check, cargo-fmt, clippy

Add metric for quorum reached duration
  monitor/src/metrics.rs
  monitor/src/pool.rs
Due: cargo-check, cargo-fmt, clippy

Avoid underflow in fee handling
  monitor/src/analyze.rs
Due: cargo-check, cargo-fmt, clippy

Don't consider zero-tip transactions for min tip
  monitor/src/analyze.rs
Due: cargo-check, cargo-fmt, clippy

Fix quorum reached metric
  monitor/src/pool.rs
Due: cargo-check, cargo-fmt, clippy

Increase event channel capacity
  monitor/src/main.rs
Due: cargo-check, cargo-fmt, clippy

Change default value blocks to check
  monitor/src/cli.rs
Due: cargo-check, cargo-fmt, clippy

Add view that enriches misses
  migrations/20221214182051_miss_view.sql
Due: none

Write readme
  .pre-commit-config.yaml
  .prettierrc
  README.md
Due: none

Add tool to check gas prices
  src/analyze.rs
  src/check_gas_price.rs
  src/cli.rs
  src/main.rs
Due: none

Allow ignoring transactions with below median tip
  src/analyze.rs
Due: none

Print gas usage information
  src/check_gas_price.rs
Due: none

Rename check gas price subcommand
  src/check_gas.rs
  src/cli.rs
  src/main.rs
Due: none

Add info about API in readme
  README.md
Due: none

Add API version to URLs
  README.md
Due: none

Limit nonce cache size
  config.toml
  src/check_transaction.rs
  src/cli.rs
  src/main.rs
  src/nonce_cache.rs
  src/state.rs
Due: none

Store tip in db
  migrations/20230109172018_store_tip.sql
  sqlx-data.json
  src/analyze.rs
  src/db.rs
Due: none

Don't format sqlx-data file
  .prettierignore
Due: none

Remove unnecessary log statement
  src/nonce_cache.rs
Due: none

Store how many txs came from pool
  migrations/20230109181738_store_num_txs.sql
  sqlx-data.json
  src/db.rs
Due: none

Path conditions:
  cargo-check: any of: ^monitor/.*.rs$
  cargo-fmt: any of: ^monitor/.*.rs$
  clippy: any of: ^monitor/.*.rs$
  sqlx-prepare: any of: ^monitor/migrations/.*\.sql$|^monitor/sqlx-data\.json$
