Repository ethereum-censorship-monitor/ethereum-censorship-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, clippy, sqlx-prepare

cargo-check:
  name: cargo-check
  entry: cargo +nightly check
  language: system
  require_serial: true
  pass_filenames: false

cargo-fmt:
  name: cargo-fmt
  entry: cargo +nightly fmt --
  language: system
  require_serial: true

clippy:
  name: clippy
  entry: cargo clippy -- --deny "warnings"
  language: system
  require_serial: true
  pass_filenames: false

sqlx-prepare:
  name: sqlx-prepare
  entry: bash -c 'cd monitor; cargo sqlx prepare'
  language: system
  pass_filenames: false

Store all data in single table
  migrations/20230110163328_full_misses.sql
  src/db.rs
Due: cargo-check, cargo-fmt, clippy, sqlx-prepare

Update sqlx-data file
  sqlx-data.json
Due: sqlx-prepare

First part of REST API
  Cargo.lock
  Cargo.toml
  config.toml
  src/api.rs
  src/cli.rs
  src/db.rs
  src/main.rs
Due: cargo-check, cargo-fmt, clippy

Improve API pagination
  src/api.rs
Due: cargo-check, cargo-fmt, clippy

Fix pre-commit
  .pre-commit-config.yaml
Due: none

Add API endpoint for missed txs
  sqlx-data.json
  src/api.rs
Due: cargo-check, cargo-fmt, clippy, sqlx-prepare

Add txs and blocks API endpoints
  config.toml
  sqlx-data.json
  src/api.rs
  src/misses_query.sql
Due: cargo-check, cargo-fmt, clippy, sqlx-prepare

Allow specifying a minimum propagation time
  config.toml
  src/analyze.rs
  src/cli.rs
  src/metrics.rs
  src/state.rs
Due: cargo-check, cargo-fmt, clippy

Restructure API
  Cargo.toml
  sqlx-data.json
  src/api.rs
  src/api/blocks_query.sql
  src/api/errors.rs
  src/api/handlers.rs
  src/api/misses_query.sql
  src/api/mod.rs
  src/api/queries.rs
  src/api/requests.rs
  src/api/responses.rs
  src/api/txs_query.sql
Due: cargo-check, cargo-fmt, clippy, sqlx-prepare

Add index to tx_hash column
  migrations/20230124112648_index_tx_hash.sql
Due: sqlx-prepare

Improve API pagination
  src/api/handlers.rs
  src/api/mod.rs
  src/api/queries.rs
  src/api/requests.rs
  src/api/responses.rs
Due: cargo-check, cargo-fmt, clippy

Increase timestamp encoding consistency
  src/api/blocks_query.sql
  src/api/txs_query.sql
Due: none

Update sqlx data file
  sqlx-data.json
Due: sqlx-prepare

Attempt to fix complete
  src/api/blocks_query.sql
  src/api/handlers.rs
  src/api/queries.rs
Due: cargo-check, cargo-fmt, clippy

Run sqlx precommit when queries are updated
  .pre-commit-config.yaml
Due: none

Fix linter warnings
  src/check_gas.rs
  src/check_transaction.rs
Due: cargo-check, cargo-fmt, clippy

Fix linter warnings
  src/compare_providers.rs
  src/consensus_api.rs
Due: cargo-check, cargo-fmt, clippy

Fix pagination for txs
  sqlx-data.json
  src/api/handlers.rs
  src/api/queries.rs
  src/api/txs_query.sql
Due: cargo-check, cargo-fmt, clippy, sqlx-prepare

Make time filtering more granular
  sqlx-data.json
  src/api/blocks_query.sql
  src/api/handlers.rs
  src/api/miss_time_tuple.rs
  src/api/misses_query.sql
  src/api/mod.rs
  src/api/queries.rs
  src/api/requests.rs
  src/api/responses.rs
  src/api/txs_query.sql
Due: cargo-check, cargo-fmt, clippy, sqlx-prepare

Simplify ordering clause
  sqlx-data.json
  src/api/blocks_query.sql
  src/api/misses_query.sql
  src/api/txs_query.sql
Due: sqlx-prepare

Rewrite API
  sqlx-data.json
  src/api/block.rs
  src/api/blocks_query.sql
  src/api/handlers.rs
  src/api/miss_range_bound.rs
  src/api/miss_time_tuple.rs
  src/api/misses_query.sql
  src/api/mod.rs
  src/api/queries.rs
  src/api/requests.rs
  src/api/responses.rs
  src/api/tx.rs
  src/api/txs_query.sql
Due: cargo-check, cargo-fmt, clippy, sqlx-prepare

Make to always exclusive
  src/api/queries.rs
Due: cargo-check, cargo-fmt, clippy

Improve block formatting
  src/types.rs
Due: cargo-check, cargo-fmt, clippy

test
  src/analyze.rs
Due: cargo-check, cargo-fmt, clippy

Recover sender address
  src/analyze.rs
Due: cargo-check, cargo-fmt, clippy

Fix replaced check
  src/analyze.rs
Due: cargo-check, cargo-fmt, clippy

Fix tx.from issue in nonce cache
  src/nonce_cache.rs
Due: cargo-check, cargo-fmt, clippy

Ignore cancel transactions during analysis
  src/analyze.rs
  src/metrics.rs
Due: cargo-check, cargo-fmt, clippy

Revert "Ignore cancel transactions during analysis"
  src/analyze.rs
  src/metrics.rs
Due: cargo-check, cargo-fmt, clippy

Update readme
  README.md
Due: none

Path conditions:
  cargo-check: any of: ^.*\.rs$
  cargo-fmt: any of: ^.*\.rs$
  clippy: any of: ^.*\.rs$
  sqlx-prepare: any of: ^migrations/.*\.sql$|^sqlx-data\.json$
